<h1>New Profile</h1>

<%= form_for(@profile) do |f| %>
 <%= f.label :Name %>
 <br>
 <%= f.text_field :Name %>

<br>

 <%= f.label :Avatar %>
 <br>
 <%= f.text_field :Avatar %>


 <br>
 <%= f.submit "Create Profile" %>
<% end %>


